# Настройки генерации
generation:
  num_samples: 50
  output_dir: "./outputs"
  save_masks: true
  image_format: "png"
  operations_per_image: [1, 3]

# Пути к данным
paths:
  source_images: "./sources/images"
  source_markup: "./sources/markup"
  output_images: "./outputs/images"
  output_masks: "./outputs/masks"

# Splicing манипуляции
splicing:
  enabled: true
  operations:
    bbox_swap:
      enabled: true
      probability: 0.4
      #allowed_categories: ["text", "date", "number", "name"]
    
    external_patch:
      enabled: true
      probability: 0.6
      max_patches: 3
      patch_size_range: [50, 300]  # min, max размер вставки
      source_diversity: 0.7        # вероятность использовать внешний документ

    internal_swap:
      enabled: true
      probability: 0.5

# Настройки качества
quality:
  jpeg_compression:
    enabled: false
    prob: 0.7
    quality: [80, 95]
