# Настройки генерации
generation:
  num_samples: 50  # Используется только для офлайн генерации
  forgeries_per_source: 10  # Количество подделок на один оригинал
  output_dir: "./outputs"
  save_masks: true
  image_format: "png"
  operations_per_image: [1, 3]

# Пути к данным
paths:
  source_images: "./sources/images"
  source_markup: "./sources/markup"
  output_images: "./outputs/images"
  output_masks: "./outputs/masks"

# Splicing манипуляции
splicing:
  enabled: true
  operations:
    bbox_swap:
      enabled: false
      probability: 0.4
      #allowed_categories: ["text", "date", "number", "name"]
    
    external_patch:
      enabled: false
      probability: 0.6
      max_patches: 3
      patch_size_range: [50, 300]  # min, max размер вставки
      source_diversity: 0.7        # вероятность использовать внешний документ

    internal_swap:
      enabled: false
      probability: 0.5
    
    inpaint_borders:
      enabled: false
      probability: 0.4
      num_bboxes: [1, 3]         # выбрать N случайных bbox из разметки
      allowed_categories: []     # пустой список = любые категории
      radius: 10                  # радиус inpaint
      method: "telea"            # telea | ns
    
    inpaint_random:
      enabled: false
      probability: 0.5
      num_spots: [1, 6]          # количество пятен для инпейнта
      spot_size: [64, 128]         # размер пятен (диаметр/сторона)
      shapes: ["circle", "rect"] # формы пятен
      radius: 3
      method: "telea"

    random_patch_paste:
      enabled: false
      probability: 0.6
      same_image_prob: 0.5        # вероятность взять патч из той же картинки
      insert_into_bbox_prob: 0.6  # вероятность вставить патч в существующий bbox
      patch_size_range: [32, 256] # сторона/ширина патча источника (px)

    digital_signature:
      enabled: true
      random_position_prob: 1.0
      signature_cache_size: 30        # Количество предгенерированных подписей
      signature_width: 400            # Ширина генерируемых подписей
      signature_height: 120           # Высота генерируемых подписей
      scale_range: [0.7, 1.3]         # Диапазон масштабирования при вставке
      opacity: 0.9                    # Прозрачность подписи при наложении

# Настройки качества
quality:
  jpeg_compression:
    enabled: false
    prob: 0.7
    quality: [80, 95]
